body {
	background-color: #f5f5f5
}

.container {
	background-color: #f5f5f5;
}

#WElogo {
	max-width: 150px;
}

nav {
	background-color: #ffffff;
}

#infoBlocs {
	/* margin-left: 13%; */
	text-align: center;
}

.teal {
	background-color: #cecece !important;
}

.footInfos {
	background-color: #cecece !important;
	color: #000000;
	/* margin-left: 2%; */
	/* padding-right: 2%; */
}

.cpy {
	color: #000000;
	background-color: #cecece !important;
}